

.numeros{
    width: 100%;
    height: 200px;
    text-align: center;
    max-width: 1250px;
    margin:0 auto;
    
}

.A,.B{
    width: 40%;
    text-align: center;
    display: inline-block;
    margin:30px;
    color:rgb(145, 141, 141);
}

.A{
    text-align: left;
    
}

.B{
    text-align: left;
}

.numeros input{
    width: 100%;
    border:0;
    border-bottom:2px solid #ccc;
    outline: 0;
    padding-top:15px;
    padding-bottom:10px;
}

/***********************************************************************/

.resultados{
  width: 100%;
  max-width: 1250px;
  text-align: center;
}

.resultados{
    margin:0 auto;
    width: 100%;
    color:rgb(145, 141, 141);
}

.resultados .input{
    text-align: left;
    float:left;
    height: 55px;
    width: 33.3%;
    margin-top:30px;
}

.resultados p{
    margin-left:10px;
}

.input input{
    width: 85%;
    height: 20px;
    border:0;
    border-bottom:1px solid #ccc;
    outline:0;
    padding-bottom:7px;
    font-size: 17px;
}



input[type="button"]{
    margin-top:50px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border:1px solid black;
    outline:0;
    cursor: pointer;
}

h2{
    text-align: center;
}