
*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Kanit', sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
    background:rgb(47, 105, 180);
    padding-bottom:20px;
    animation: fundo 10s infinite;
    font-weight: bold;
    overflow-x: hidden;
}


.numeros{
    opacity: 0;
    visibility: hidden;
    position: relative;
    right:-150px;
    max-width: 1250px;
    width: 85%;
    margin:0 auto;
    color:white;
    text-align: center;
    transition: 0.8s ease-in;
    z-index: 1;
}

.resultados{
    opacity: 0;
    visibility: hidden;
    right:-150px;
    position: relative;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    color:white;
    transition: 0.8s ease-in;
    z-index: 2;
}


.A input ,.B input{
    width: 100%;
    max-width: 500px;
    height: 40px;
    border-radius: 20px;
    border:0;
    border-bottom:2px solid #D8532A;
    outline:none;
    padding-left:15px;
    
}

input[type="button"]{
    max-width: 150px;
    width: 30%;
    height: 45px;
    margin-top:15px;
    margin-bottom:25px;
    border-radius: 15px;
    border:0;
    cursor: pointer;
    outline:none;
    background:#D8532A;
    color:white;
}

input[type="button"]:hover{
    background:#dd4b1e;
}

.resultados .input{
    float:left;
    width: 50%;
    margin-bottom:10px;  
}

.resultados h2{
    text-align: center;
    margin-top:35px;
    margin-bottom:15px;
}

.resultados input[type="text"]{
max-width: 350px;
height: 35px;
border:0;
border-radius: 15px;
width: 100%;
border-bottom: 2px solid #D8532A;
padding-left:10px;
outline:none;
background:white;
color:rgb(107, 104, 104);
}

.começando{
    width: 100%;
    height: 100vh;
    background:#dd4618;
    color:white;
    position: absolute;
    left:0;
    top:0;
    transition: 0.8s ease-in-out;
    transform: scaleX(1);
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.começando h1,h2{
 opacity:1;
 font-size: 35px;
 transition: 0.5s ease-in-out;
} 

#começar:checked ~ .começando{
    transform: scaleX(2);
    transition: 0.8s ease-in-out;
    width: 10px;
    height: 100vh;
    background:#dd4618;
    color:white;
    color:none;
}

#começar:checked ~ .começando h2{
    opacity:0;
    transition: 0.5s ease-in-out;
    font-size: 1px;
}
#começar:checked ~ .começando h1 {
    opacity:0;
    transition: 0.5s ease-in-out;
    font-size: 1px;

}


#começar:checked ~ .resultados{
    left:150px;
    transform: translateX(-150px);
    transition: 0.8s ease-in;
    opacity: 1;
    visibility: visible;
}


#começar:checked ~ .numeros{
    left:150px;
    transform: translateX(-150px);
    transition: 0.8s ease-in;
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width:785px){

    .resultados .input{
        float:none;
        width: 80%;
        margin:0 auto;
    }

    input[type="button"]{
        width: 100%;
    }
    .começando{
        height: 100%;
        justify-content: flex-start;
    }

    .começando h2{
        margin:200px 15px 0 15px;
    }

    .começando h1{
        margin:0 15px 0 15px;
    }


    #começar:checked ~ .começando{
        height: 100%;
    }
    
}